# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Docker
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Redis dump
dump.rdb
