services:

  api:
    build: .
    container_name: innosmart_api
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build: .
    container_name: innosmart_worker
    command: celery -A backend.shared.tasks.celery_app.celery worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis


  redis:
    image: redis:7
    container_name: innosmart_redis
    ports:
      - "6379:6379"
